<template>
	<n-link @mouseover.native="animation()" :style="cssVars" :to="to">
		<slot />
	</n-link>
</template>

<script>
export default {
	data() {
		return {
			leftBtn: "50%",
			topBtn: "50%",
			width: "1rem"
		}
	},
	props: {
		to: {
			type: String,
			default: "/"
		}	
	},
	computed: {
		cssVars() {
			return {
				"--left-btn": this.$data.leftBtn,
				"--top-btn": this.$data.topBtn,
				"--width-btn": this.$data.width
			}
		}
	},
	methods: {
		animation() {
			this.$data.topBtn = `${event.clientY - this.$el.offsetTop}px`;
			this.$data.leftBtn = `${event.clientX - this.$el.offsetLeft}px`;
			this.$data.width = `${this.$el.offsetWidth / 7}px`;
		}
	}
};
</script>

<style lang="scss">
.btn,
input[type=submit],
button[type=submit] {
    display: inline-flex;
    z-index: 1;
    position: relative;
    padding: $xxs $sm;
	letter-spacing: 1.5px;
    font-weight: 600;
    text-align: center;
    overflow: hidden;
	border-radius: 4px;

    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        width: var(--width-btn);
		height: 1.2rem;
		left: var(--left-btn);
		top: var(--top-btn);
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.2);
        transform-origin: center;
        transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
        transition: transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	
    &:hover::before {
        transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
	}

	&:hover {
		box-shadow: $glow;
		transform: translate(0, -1px);
	}
}


// Mixin
@mixin btn--color ($shade, $color) {
    color: $shade;
    background-color: $color;
    transition: all 0.3s ease-in-out;
    &:hover {
        transition: all 0.3s ease-in-out;
    }	
}

// Colors
.btn--primary {
	@include btn--color($light, $primary)
}

.btn--accent {
	@include btn--color($dark, $accent)
}

.btn--large {
	padding: $xs $md;
	font-size: $text-md;
}
</style>