<template>
	<header>
		<div>{{ user ? user.username : "Not auth" }}</div>
		<h2>
			<nuxt-link to="/">Quadra</nuxt-link>
		</h2>
		<button v-if="isAuth" @click="logout()">Logout</button>
	</header>
</template>

<script>
import Button from './Button.vue';
export default {
  components: { Button },
	computed: {
		isAuth() {
			return this.$store.state.isAuth;
		},
		user() {
			return this.$store.state.user;
		}
	},
	methods: {
		async logout() {
			try {
				console.log("allo");
				await this.$axios.$post("/logout").then(res => {
					this.$store.dispatch("logout");
				});
			} catch(err) {
				console.log(err);
			}
		}
	}
}
</script>

<style lang="scss" scoped>
header {
	width: 90%;
	margin: 0 auto $lg auto;
	display: flex;
	justify-content: space-between;
	padding: $lg 0 $md 0;
}

a {
	color: $light-text;
}
</style>