// Primary
$primary-dark: #0013a9;
$primary: #003adc;
$primary-light: #7E66FF;

// Accent
$accent: #EF49B9;
$accent-light: #ffb2dd;

// Shades
$light: #ffffff;
$dark: #040402;

// Opacity
$light-text: rgba($dark, 0.8);
$lighter-text: rgba($dark, 0.5);

// Box-shadow
$glow: 2px 2px 10px 0 rgba($dark, 0.3);