input[type=password], 
input[type=email], 
input[type=text] {
	width: 100%;
	background-color: transparent;
	border: 1px solid transparent;
	font-size: $text-sm;
	border-bottom-color: $lighter-text;
	height: $md;
	letter-spacing: 1px;
	&:hover {
		background-color: rgba($dark, 0.1); 
	}
	&:focus {
		outline: none;
		&::placeholder {
			color: $accent;
		}
		~ .input--accent  {
			transform: translate(-50%, 0) scaleX(1);
			opacity: 1;
		}
	}
	&::placeholder {
		color: $lighter-text;
	}
}

.input--accent {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100%;
	height: 2px;
	opacity: 0;
	background-color: $accent;
	transform-origin: center;
	transform: translate(-50%, 0) scaleX(0);
	transition: all 0.3s ease;
}