// Mixin
@mixin link($color, $color-light) {
	text-decoration: underline;	
	text-decoration-color: $color-light;
	color: $color;
	transition: all 0.3s ease-in-out;
	&:hover {
		text-decoration-color: $dark;
		color: $dark;
		transition: color 0.3s ease-in-out, text-decoration-color 0.5s ease-in-out;
	}
}

//Link
.link--primary {
	@include link($primary, $primary-light)
}

.link--accent {
	@include link($accent, $accent-light)
}