// Reset
* {
    padding: 0;
	border: 0;
	margin: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

p {
	line-height: 1.4;
}

h1,
h2,
h3,
h4 {
	line-height: 1.25;
}

h1 {
	font-size: $text-xxl;
}

h2 {
	font-size: $text-xl;
}

h3 {
	font-size: $text-lg;
}

button,
input[type=submit] {
	border: none;
	font-family: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: none;
	white-space: nowrap;
	outline: none;
}

// Base
body,
html {
	height: 100%;
	line-height: 1;
	scroll-behavior: smooth;
	font-family: "Gilroy", sans-serif;;
	font-size: 16px;
	font-weight: 400;
}

body {
	background-color: $light;
	color: $dark;
}

.btn__container {
	display: flex;
	justify-content: center;
}