<template>
	<div>
		<Header />
		<nuxt />
	</div>
</template>

<script>
import Header from "@/components/Header";

export default {
	components: {
		Header
	}
}
</script>

<style lang="scss">
.fit-content {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

//Font face
@font-face {
	font-family: "Neue Machina", monospace;
	src: url("~assets/fonts/Neue Machina/NeueMachina-Regular.woff");
	font-weight: normal;
	font-display: auto;
}

@font-face {
	font-family: "Neue Montreal", monospace;
	src: url("~assets/fonts/Neue Machina/NeueMontreal-Regular.woff");
	font-weight: normal;
	font-display: auto;
}

@font-face {
	font-family: "Gilroy";
	src: url("~assets/fonts/Gilroy/Gilroy-Medium.otf");
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: "Gilroy";
	src: url("~assets/fonts/Gilroy/Gilroy-BlackItalic.otf");
	font-weight: bolder;
	font-style: italic;
	font-display: auto;
}
</style>