<template>
  <main class="fit-content">
    <h1>Profile page</h1>
	<button @click="deleteAccount" class="btn btn--accent">Delete account</button>
	<input type="text" name="search" placeholder="Search users..." v-model="wantedUser" @change="searchUser">
	<ul v-if="usersFound.length != 0">
		<li v-for="user in usersFound" :key="user._id">
			<span>{{ user.username }}</span>
			<button @click="addFriend(user._id)" class="btn btn--primary">Add friend</button>
		</li>
	</ul>
	<h2>Friend list</h2>
	<ul>
		<li v-for="friend in friendList" :key="friend._id">
			<span>{{ friend.username }}</span>
		</li>
	</ul>
  </main>
</template>

<script>
export default {
	middleware({ store, redirect }) {
    	if (!store.state.isAuth) {
    		return redirect("/login");
    	}
	},
	data() {
		return {
			wantedUser: "",
			usersFound: [],
			friendList: []
		}
	},
	async asyncData({ $axios }) {
		try {
			return await $axios.$get("/friends").then(friendList => {
				console.log(friendList);
				return { friendList };
			});
		} catch (err) {
			console.log(err);
		}
	},
	methods: {
		async addFriend(user) {
			try {
				console.log(user);
				await this.$axios.$post("/addfriend", { friend: user }).then(res => {
					console.log(res);
				});
			} catch (err) {
				console.log(err);
			}
		},
		async searchUser() {
			try {
				await this.$axios.$post("/search", { wantedUser: this.wantedUser }).then(res => {
					this.usersFound = res;
				});
			} catch (err) {
				console.log(err);
			}
		},
		async deleteAccount() {
			try {
				await this.$axios.$delete("/user", { data: this.$store.state.user }).then(res => {
					this.$store.dispatch("logout");
					this.$router.push({ path : "/" });
				});
			} catch (err) {
				console.log(err);
			}
			
		}
	}
};
</script>