<template>
	<main class="fit-content">
		<div class="home__center">
			<Button to="/login" class="btn btn--primary btn--large">Get started</Button>
		</div>
	</main>
</template>

<script>
import Button from "@/components/Button"

export default {
	components: {
		Button
	}
}
</script>

<style lang="scss">
.home__center  {
	display: flex;
	justify-content: center;
	margin-top: $xxl;
}
</style>