<template>
    <main class="fit-content">
        <div class="login">
            <div class="login__box">
                <section class="tab is-active">
					<h3>Sign in</h3>
                    <form @submit.prevent="userLogin">
						<div class="input">
							<div class="input__container">
								<input type="text" name="username" placeholder="Username" v-model="login.username">
								<label class="input--accent" for="username"></label>
							</div>
						</div>
						<div class="input">
							<div class="input__container">
								<input type="password" name="password" placeholder="Password" v-model="login.password">
								<label class="input--accent" for="password"></label>
							</div>
						</div>
						<div v-if="loginError != 0" class="errors">
							<span>{{ loginError }}</span>
						</div>
						<div class="btn__container">
							<button type="submit" class="btn btn--primary">Login in</button>
						</div>
                    </form>
                </section>
				<section class="tab">
					<h3>Register</h3>
					<form @submit.prevent="userRegister">
						<div class="input">
							<div class="input__container">
								<input type="text" name="username" placeholder="Username" v-model="register.username">
								<label class="input--accent" for="username"></label>
							</div>
							<span class="input__requirement">Must be at least 6 chars long</span>
							</div>
						<div class="input">
							<div class="input__container">
								<input type="password" name="password" placeholder="Password" v-model="register.password">
								<label class="input--accent" for="password"></label>
							</div>
							<span class="input__requirement">Must be at least 8 chars long</span>
						</div>
						<div v-if="registerErrors.length != 0" class="errors">
							<span v-for="error in registerErrors" :key="error.param">{{ error }}</span>
						</div>
						<div class="btn__container">
							<button type="submit" class="btn btn--primary">Register</button>
						</div>
					</form>
				</section>
				<button @click="noAccount()" type="button">No account?</button>
            </div>
        </div>
    </main>
</template>

<script>
export default {
	middleware({ store, redirect }) {
    	if (store.state.isAuth) {
    		return redirect("/homepage");
    	}
	},
	data: {
		isActive: false
	},
	data() {
		return {
			registerErrors: [],
			loginError: "",
			login: {
        		username: "",
        		password: ""
      		},
			register: {
				username: "",
				password: ""
			}
		}
	},
	methods: {
		async userLogin() {
			this.loginError = "";
			try {
				await this.$axios.$post("/login", this.login).then(user => {
					this.$store.dispatch("loginUser", user);
					this.$router.push({ path : "/homepage" });
				});
			} catch (err) {
				this.loginError = "Invalid username or password!";
			}
		},
		async userRegister() {
			this.registerErrors.length = 0;
			try {
				await this.$axios.$post("/register", this.register).then(res => {
					if (res.errors) {
						res.errors.forEach(err => {
							this.registerErrors.push(`${err.msg} at ${err.param}`);
						});
					} else {
						this.registerErrors.length = 0;
						this.noAccount();
					}
				});
			} catch (err) {
				console.log(err);
			}
		},
		noAccount() {
			const tab = document.getElementsByClassName("tab");

			if (!this.isActive) {
				this.isActive = true;
				tab[1].classList.add("is-active");
				tab[0].classList.remove("is-active");
			} else {
				this.isActive = false;
				tab[0].classList.add("is-active");
				tab[1].classList.remove("is-active");
			}
		}
	}
}
</script>

<style lang="scss">
.login {
	display: flex;
	justify-content: center;

	&__box {
		position: relative;
		width: 45%;
		border-radius: 4px;
		padding: $md $xl;
		box-shadow: $glow;
	}
}

.input {
	margin-bottom: $sm;

	&__container {
		position: relative;
	}

	&__requirement {
		font-size: $text-xs;
		color: $lighter-text;
	}
}

.errors {
	display: flex;
	flex-direction: column;
	color: $accent;

	span {
		margin-bottom: $sm;
	}
}

.tab {
	display: none;

	h3 {
		margin-bottom: $lg;
		text-align: center;
	}
}

.tab.is-active {
	opacity: 0;
	display: block;
	transform: translateX(150%);
	animation: slide 0.5s ease-in-out forwards;
}

// Keyframes

@keyframes slide {
	50% {
		visibility: hidden;
		opacity: 0;
	}

	100% {
		opacity: 1;
		display: none;
		transform: translateX(0);
	}
}

// Media Queries

@media screen and (max-width: 1216px) {
	.login__box {
		width: 80%;
		padding: $sm $lg;
	}
}


@media screen and (max-width: 768px) {
	.login__box {
		width: 100%;
		padding: $xs $md;
	}
}
</style>